boto3==1.36.2
botocore==1.36.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
decorator==4.4.2
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.5.1
jmespath==1.0.1
moviepy==1.0.2
numpy==1.26.1
Pillow==10.1.0
proglog==0.1.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
redis==5.0.6
requests==2.31.0
rq==1.16.2
s3transfer==0.11.1
six==1.17.0
tqdm==4.66.2
urllib3==2.3.0
-e ../common #pm_common package 